.button-container {
    @include flexbox(row, nowrap, center, center, rem(10));
  }
  
  .buttons, .filter-button {
    @include resetButton;
    background-color: #fff;
    border: rem(1) solid #ccc;
    border-radius: rem(8);
    padding: rem(10) rem(20);
    cursor: pointer;
  }
  