.buttons, .filter-button, .searchbar-close-button {
  @include resetButton;
  display: inline-flex;
  height: rem(40); 
  padding: rem(10) rem(15); 
  justify-content: center;
  align-items: center;
  gap: rem(10);
  border-radius: rem(12);
  border: rem(1) solid var(--outline-theme_light-low_em, #ECECED);
  background: var(--surface-theme_light-surface_0, #FFF);
  box-shadow: 0px rem(1) rem(2) -rem(1) rgba(17, 12, 34, 0.08);
  margin: rem(10) 0 0 rem(10); 
  margin-right: rem(10);
  cursor: pointer;

  &.active {
    background-color: var(--primary-color, #007bff); 
    color: #fff;
    border-color: var(--primary-color, #007bff);
  }
}

.button-container {
  @include flexbox(row, nowrap, center, center, rem(10));
  position: absolute;
  right: rem(20);
}

.searchbar-button {
  margin-right: rem(10);
}
