.filter-button{
  @include resetButton;
  display: inline-flex;
  height: rem(48); 
  padding: rem(10) rem(15); 
  justify-content: center;
  align-items: center;
  gap: rem(10);
  border-radius: rem(12);
  border: rem(1) solid var(--outline-theme_light-low_em, #ECECED);
  background: var(--surface-theme_light-surface_0, #FFF);
  box-shadow: 0px rem(1) rem(2) -rem(1) rgba(17, 12, 34, 0.08);
  cursor: pointer;
  &.active {
    background-color: var(--primary-color, #007bff); 
    color: #fff;
    border-color: var(--primary-color, #007bff);
  }
}

.search-button {
  width: 12rem;
  @include resetButton;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: rem(48); 
  padding: rem(10) rem(15); 
  border-radius: rem(12);
  border: rem(1) solid var(--outline-theme_light-low_em, #ECECED);
  background: var(--surface-theme_light-surface_0, #FFF);
  box-shadow: 0px rem(1) rem(2) -rem(1) rgba(17, 12, 34, 0.08);
  cursor: pointer;
  &.active {
    background-color: var(--primary-color, #007bff); 
    color: #fff;
    border-color: var(--primary-color, #007bff);
  }
}

.searchbar-close-button {
  @include resetButton;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: rem(48);
  height: rem(48); 
  padding: rem(10) rem(15); 
  border-radius: rem(8);
  border: rem(1) solid var(--outline-theme_light-low_em, #ECECED);
  background: var(--surface-theme_light-surface_0, #FFF);
  box-shadow: 0px rem(1) rem(2) -rem(1) rgba(17, 12, 34, 0.08);
  cursor: pointer;
  &.active {
    background-color: var(--primary-color, #007bff); 
    color: #fff;
    border-color: var(--primary-color, #007bff);
  }
}

.button-container {
  margin-left: 4rem;
  @include flexbox(row, nowrap, center, center, rem(10));
}

.searchbar-button {
  margin-right: rem(10);
}
