.event-detail-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}

.event-detail-container.show {
    display: block;
}

.event-detail {
    width: rem(400);
    height: rem(600);
    flex-shrink: 0;
    border-radius: rem(16);
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(rem(13.5));
    position: absolute;
    top: rem(20);
    left: rem(20);
    padding: rem(20);
    z-index: $z-index-modal;
    display: none;
    overflow-y: auto;

    &.show {
        display: block;
    }

    .event-detail-close-button {
        position: absolute;
        top: rem(3);
        right: rem(3);
        background: none;
        border: none;
        font-size: rem(24);
        cursor: pointer;
    }

    .event-detail-image {
        width: 100%;
        border-radius: rem(16);
        margin-top: rem(10);
    }

    .event-detail-title {
        font-family: $font-sans-bold;
        font-size: rem(16); 
        font-weight: bold; 
        margin-bottom: rem(8);
        color: #000;
        text-transform: none;
    }

    .event-detail-location,
    .event-detail-description,
    .event-detail-date {
        display: flex;
        align-items: center;
        margin-top: rem(10);
        font-family: $font-sans-medium;
        font-size: rem(16); 
        font-weight: medium; 
        margin-bottom: rem(8);
        color: #000;
        text-transform: none;
    }

    .event-detail-description {
        overflow-y: auto;
    }

    .event-detail-location i,
    .event-detail-description i,
    .event-detail-date i {
        margin-right: rem(8);
    }
}

@media (max-width: 768px) {
    .event-detail {
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
        padding: rem(10);
        border-radius: rem(8);
        overflow-y: auto;
    }

    .event-detail-title,
    .event-detail-location,
    .event-detail-description,
    .event-detail-date {
        font-size: rem(14);
    }

    .event-detail-close-button {
        top: rem(5);
        right: rem(5);
    }

    .view-epreuves-button {
        margin-top: rem(10);
        margin-bottom: rem(10); 
    }
}