.header {
    @include flexbox(row, nowrap, space-between, center);
    padding: rem(20);
    background-color: #fff;
  }
  
  .header h1 {
    font-size: rem(24);
    font-weight: bold;
    margin: 0;
    flex: 1; 
    text-align: left; 
  }
  
  .logo-container {
    @include flexbox(row, nowrap, center, center);
    flex: 1; 
  }
  
  .logo {
    width: rem(100);
    height: auto;
  }
  
  .spacer {
    flex: 1;
  }
  