.spot-detail-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}
  
.spot-detail-container.show {
    display: block;
}
  
.spot-detail {
    width: rem(400);
    height: rem(600);
    flex-shrink: 0;
    border-radius: rem(16);
    background: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(rem(13.5));
    position: absolute;
    top: rem(20);
    left: rem(20);
    padding: rem(20);
    z-index: $z-index-modal;
    overflow-y: auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &.show {
        display: block;
    }

    .spot-detail-close-button {
        position: absolute;
        top: rem(3);
        right: rem(3);
        background: none;
        border: none;
        font-size: rem(24);
        cursor: pointer;
    }

    .spot-detail-image {
        width: 100%;
        border-radius: rem(16);
        margin-top: rem(10);
    }

    .spot-detail-title {
        font-family: $font-sans-bold;
        font-size: rem(20); 
        font-weight: bold; 
        margin-bottom: rem(12);
        color: #000;
        text-transform: none;
    }

    .spot-detail-label,
    .spot-detail-sport,
    .spot-detail-description,
    .spot-detail-affluence {
        display: flex;
        align-items: flex-start;
        margin-top: rem(10);
        font-family: $font-sans-medium;
        font-size: rem(16); 
        font-weight: medium;  
        color: #000;
        text-transform: none;
    }

    .spot-detail-description,
    .spot-detail-affluence {
        flex-direction: column;
        align-items: flex-start;
    }

    .spot-detail-label i,
    .spot-detail-sport i,
    .spot-detail-description i,
    .spot-detail-affluence i {
        margin-right: rem(8);
    }

    .spot-detail-description span,
    .spot-detail-affluence span {
        display: flex;
        flex-direction: column;
    }

    .spot-detail-affluence div {
        margin-bottom: rem(5);
    }
}

@media (max-width: 768px) {
    .spot-detail {
        width: 90%;
        height: 90%;
        top: 5%;
        left: 5%;
        padding: rem(10);
        border-radius: rem(8);
        overflow-y: auto;
    }

    .spot-detail-title,
    .spot-detail-label,
    .spot-detail-sport,
    .spot-detail-description,
    .spot-detail-affluence {
        font-size: rem(14);
    }

    .spot-detail-close-button {
        top: rem(5);
        right: rem(5);
    }
}