.spot-detail-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}
  
.spot-detail-container.show {
    display: block;
}
  
.spot-detail {
    width: rem(400);
    height: rem(600);
    flex-shrink: 0;
    border-radius: rem(16);
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(rem(13.5));
    position: absolute;
    top: rem(20);
    left: rem(20);
    padding: rem(20);
    z-index: $z-index-modal;
    display: none;

    &.show {
        display: block;
    }

    .spot-detail-close-button {
        position: absolute;
        top: rem(10);
        right: rem(10);
        background: none;
        border: none;
        font-size: rem(24);
        cursor: pointer;
    }

    .spot-detail-image {
        width: 100%;
        border-radius: rem(16);
    }

    .spot-detail-title {
        font-family: $font-sans-bold;
        font-size: rem(16); 
        font-weight: bold; 
        margin-bottom: rem(8);
        color: #000;
        text-transform: none;
    }

    .spot-detail-label,
    .spot-detail-sport {
        display: flex;
        align-items: center;
        margin-top: rem(10);
        font-family: $font-sans-bold;
        font-size: rem(16); 
        font-weight: bold; 
        margin-bottom: rem(8);
        color: #000;
        text-transform: none;
    }

    .spot-detail-label i,
    .spot-detail-sport i {
        margin-right: rem(8);
    }
}
