.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.buttons {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

.filter-button {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}