// _fonts.scss

@font-face {
    font-family: 'Olympic Headline';
    src: url('../fonts/Olympic-Headline.woff2') format('woff2'),
         url('../fonts/Olympic-Headline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Olympic Sans';
    src: url('../fonts/Olympic-Sans.woff2') format('woff2'),
         url('../fonts/Olympic-Sans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Olympic Sans Bold';
    src: url('../fonts/Olympic-Sans-Bold.woff2') format('woff2'),
         url('../fonts/Olympic-Sans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Olympic Sans Medium';
    src: url('../fonts/Olympic-Sans-Medium.woff2') format('woff2'),
         url('../fonts/Olympic-Sans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
  }
  