// Variables pour les polices
$font-headline: "Olympic Headline", sans-serif;
$font-sans: "Olympic Sans", sans-serif;
$font-sans-bold: "Olympic Sans Bold", sans-serif;
$font-sans-medium: "Olympic Sans Medium", sans-serif;
// Couleurs
$jaune-jo: #fbc17a;
$bleu-jo: #0b7cc0;
$primary-color: #1e90ff;
$secondary-color: #ff6347;
$text-color: #333;
$background-color: #ffffff;
$border-color: #ddd;
$blue: #0078D0;
$red: #F0282D;
$green: #00A651;
$yellow: #FFB114;
$black: #0000;
$white: #ffff;

// Dimensions
$container-width: rem(1200);
$gutter: rem(16);


// Z-index
$z-index-header: 1000;
$z-index-modal: 1050;

:root {
  --primary-color: #1e90ff;
  --secondary-color: #ff6347;
  --text-color: #333;
  --background-color: #ffffff;
  --border-color: #ddd;
  --font1: "Inter", sans-serif;
  --container-width: #{rem(1200)};
  --gutter: #{rem(16)};
  --z-index-header: 1000;
  --z-index-modal: 1050;
}
